# Pandas Series

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("Course_Materials/Course_Materials_Part1/Video_Lecture_NBs/titanic.csv")

In [12]:
age = titanic["age"]

In [17]:
type(age)

pandas.core.series.Series

In [14]:
age.dtype

dtype('float64')

In [16]:
age.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: age
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [20]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [21]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [22]:
age.count()

714

In [25]:
age.size

891

In [24]:
len(age)

891

In [39]:
print(titanic["fare"].value_counts().iloc[0])

43

## Analyzing non-numerical Series

In [59]:
summer = pd.read_csv("Course_Materials/Course_Materials_Part1/Video_Lecture_NBs/summer1972.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Course_Materials/Course_Materials_Part1/Video_Lecture_NBs/summer1972.csv'

In [41]:
athlete = summer["Athlete"]

In [42]:
athlete.dtype

dtype('O')

In [47]:
athlete.min()

'AABYE, Edgar'

In [48]:
athlete.value_counts()

Athlete
PHELPS, Michael          22
LATYNINA, Larisa         18
ANDRIANOV, Nikolay       15
ONO, Takashi             13
MANGIAROTTI, Edoardo     13
                         ..
ZAKA, Uddin               1
ZAFAR, Hayat              1
MUHAMMAD, Rashid          1
MANNA, Muhammad Afzal     1
LIDBERG, Jimmy            1
Name: count, Length: 22762, dtype: int64

In [58]:
summer["Athlete"].nunique()

22762

In [6]:
summer = pd.read_csv("Course_Materials/Course_Materials_Part1/Video_Lecture_NBs/summer.csv",index_col="Country")

In [61]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Gender,Event,Medal
Country,,,,,,,,
HUN,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",Men,100M Freestyle,Gold
AUT,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",Men,100M Freestyle,Silver
GRE,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",Men,100M Freestyle For Sailors,Bronze
GRE,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",Men,100M Freestyle For Sailors,Gold
GRE,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",Men,100M Freestyle For Sailors,Silver

In [70]:
summer["Athlete"]["NED"]

Country
NED                 DROST, Johannes
NED        BRANDT, Francois Antoine
NED    BROCKMANN, Hermanus Gerardus
NED                   KLEIN, Roelof
NED          LEEGSTRA, Ruud Gerbens
                   ...
NED             VEENHOVEN, Jacobine
NED                 BERKHOUT, Lobke
NED                 WESTERHOF, Lisa
NED              BOUWMEESTER, Marit
NED        VAN RIJSSELBERGE, Dorian
Name: Athlete, Length: 851, dtype: object

In [1]:
dic = {1:10,3:25,2:6,4:36,5:2,6:0,7:None}
dic

{1: 10, 3: 25, 2: 6, 4: 36, 5: 2, 6: 0, 7: None}

In [3]:
sales = pd.Series(dic)

In [4]:
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [5]:
summer

NameError: name 'summer' is not defined

In [7]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HUN to SWE
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [10]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [12]:
summer.axes

[Index(['HUN', 'AUT', 'GRE', 'GRE', 'GRE', 'GRE', 'HUN', 'GRE', 'GRE', 'AUT',
        ...
        'AZE', 'LTU', 'RUS', 'EGY', 'KAZ', 'POL', 'IRI', 'RUS', 'ARM', 'SWE'],
       dtype='object', name='Country', length=31165),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Gender', 'Event',
        'Medal'],
       dtype='object')]

In [15]:
summer.

<bound method DataFrame.nunique of          Year    City      Sport           Discipline  \
Country
HUN      1896  Athens   Aquatics             Swimming
AUT      1896  Athens   Aquatics             Swimming
GRE      1896  Athens   Aquatics             Swimming
GRE      1896  Athens   Aquatics             Swimming
GRE      1896  Athens   Aquatics             Swimming
...       ...     ...        ...                  ...
POL      2012  London  Wrestling  Wrestling Freestyle
IRI      2012  London  Wrestling  Wrestling Freestyle
RUS      2012  London  Wrestling  Wrestling Freestyle
ARM      2012  London  Wrestling  Wrestling Freestyle
SWE      2012  London  Wrestling  Wrestling Freestyle

                           Athlete Gender                       Event   Medal
Country
HUN                  HAJOS, Alfred    Men              100M Freestyle    Gold
AUT               HERSCHMANN, Otto    Men              100M Freestyle  Silver
GRE              DRIVAS, Dimitrios    Men  100M Freestyle For Sailors  Bronze
GRE             MALOKINIS, Ioannis    Men  100M Freestyle For Sailors    Gold
GRE             CHASAPIS, Spiridon    Men  100M Freestyle For Sailors  Silver
...                            ...    ...                         ...     ...
POL             JANIKOWSKI, Damian    Men                    Wg 84 KG  Bronze
IRI      REZAEI, Ghasem Gholamreza    Men                    Wg 96 KG    Gold
RUS                 TOTROV, Rustam    Men                    Wg 96 KG  Silver
ARM              ALEKSANYAN, Artur    Men                    Wg 96 KG  Bronze
SWE                 LIDBERG, Jimmy    Men                    Wg 96 KG  Bronze

[31165 rows x 8 columns]>

In [23]:
summer.reset_index(inplace=True)

In [24]:
summer.head()

,Country,Year,City,Sport,Discipline,Athlete,Gender,Event,Medal
0,HUN,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",Men,100M Freestyle,Gold
1,AUT,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",Men,100M Freestyle,Silver
2,GRE,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",Men,100M Freestyle For Sailors,Bronze
3,GRE,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",Men,100M Freestyle For Sailors,Gold
4,GRE,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",Men,100M Freestyle For Sailors,Silver

In [28]:
summer.loc[(summer.Medal=="Gold") & (summer.Country =="NED")& (summer.Sport == "Cycling")]

,Country,Year,City,Sport,Discipline,Athlete,Gender,Event,Medal
3155,NED,1920,Antwerp,Cycling,Cycling Track,"PEETERS, Mauritius",Men,Sprint Indivual,Gold
4400,NED,1924,Paris,Cycling,Cycling Track,"WILLEMS, Jacobus",Men,50KM,Gold
5243,NED,1928,Amsterdam,Cycling,Cycling Track,"LEENE, Bernardus Petrus",Men,2000M Tandem,Gold
5244,NED,1928,Amsterdam,Cycling,Cycling Track,"VAN DIJK, Daniel (Daan)",Men,2000M Tandem,Gold
5962,NED,1932,Los Angeles,Cycling,Cycling Track,"VAN EGMOND, Jacobus Johannes",Men,Sprint Indivual,Gold
6650,NED,1936,Berlin,Cycling,Cycling Track,"VAN VLIET, Arie Gerrit",Men,1KM Time Trial,Gold
11076,NED,1964,Tokyo,Cycling,Cycling Road,"DOLMAN, Evert Gerardus",Men,Team Time Trial,Gold
11077,NED,1964,Tokyo,Cycling,Cycling Road,"KARSTENS, Gerben",Men,Team Time Trial,Gold
11078,NED,1964,Tokyo,Cycling,Cycling Road,"PIETERSE, Johannes Aloysius",Men,Team Time Trial,Gold
11079,NED,1964,Tokyo,Cycling,Cycling Road,"ZOET, Hubertus Balthazar",Men,Team Time Trial,Gold
12122,NED,1968,Mexico,Cycling,Cycling Road,"DEN HERTOG, Fedor",Men,Team Time Trial,Gold
12123,NED,1968,Mexico,Cycling,Cycling Road,"KREKELS, Jan Jozef Alfons",Men,Team Time Trial,Gold
12124,NED,1968,Mexico,Cycling,Cycling Road,"PIJNEN, Rene Marinus",Men,Team Time Trial,Gold
12125,NED,1968,Mexico,Cycling,Cycling Road,"ZOETEMELK, Hendrik G. Jozef",Men,Team Time Trial,Gold
13182,NED,1972,Munich,Cycling,Cycling Road,"KUIPER, Hennie",Men,Individual Road Race,Gold
18633,NED,1988,Seoul,Cycling,Cycling Road,"KNOL, Monique",Women,Individual Road Race,Gold
22103,NED,1996,Atlanta,Cycling,Mountain Bike,"BRENTJENS, Bart",Men,Cross-Country,Gold
24002,NED,2000,Sydney,Cycling,Cycling Road,"ZIJLAARD-VAN MOORSEL, Leontien",Women,Individual Road Race,Gold
24008,NED,2000,Sydney,Cycling,Cycling Road,"ZIJLAARD-VAN MOORSEL, Leontien",Women,Individual Time Trial,Gold
24020,NED,2000,Sydney,Cycling,Cycling Track,"ZIJLAARD-VAN MOORSEL, Leontien",Women,Individual Pursuit,Gold
26018,NED,2004,Athens,Cycling,Cycling Road,"ZIJLAARD-VAN MOORSEL, Leontien",Women,Individual Time Trial,Gold
28054,NED,2008,Beijing,Cycling,Cycling Track,"VOS, Marianne",Women,Points Race,Gold
30010,NED,2012,London,Cycling,Cycling Road,"VOS, Marianne",Women,Individual Road,Gold

In [35]:
(summer.Medal.loc[(summer.Country=='ARG')]=='Gold').any()

True

In [4]:
index_babies = titanic[titanic.age<1].index

In [5]:
age = titanic.age

In [9]:
age._is_copy is None

True